body {
    position: relative;
}

.container {
    position: sticky;
    top: 0;
    width: 1400px;
    height: 800px;
}

#timeline-1 {
    height: 1000px;
    background: yellow;
    width: 20px;
}

#timeline-2 {
    height: 1000px;
    background: orange;
    width: 20px;
}

#timeline-3 {
    height: 1000px;
    background: red;
    width: 20px;
}

.link {
    stroke: #aaa;
}

.node text {
    stroke: #333;
    cursor: pointer;
}


/*.node ellipse {
    stroke: #fff;
    stroke-width: 3px;
    fill: #f00;
}*/